body {
    /* alternative: max-width: max-content;*/
    max-width: 800px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* constant positioning */
html {
    scrollbar-gutter: stable;
}

h4 {
    color: black;
    margin-bottom: 0
}

button{
    background: none;
    border: none;
}

p {
font-size: 15px;
}

/* unvisited link */
a:link {
    color: rgb(115, 0, 10);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: rgb(115, 0, 10);
    text-decoration: none;
}


/* mouse over link */
a:hover {
color: red;
}

/* selected link */
a:active {
color: red;
}

/* small break */
.brsmall {
    display: block;
    margin-bottom: 0.5em;
}

/* small break */
.brverysmall {
    display: block;
    margin-bottom: 0.2em;
}

/* med break */
.brmedium { 
    display: block; 
    margin-bottom: 2em; 
} 
